# Dependências
/node_modules

# Arquivos de build e compilação
/dist
/.tscache

# Arquivos de ambiente
.env
# .env.*

# Arquivos de log
logs
*.log

# Arquivos gerados pelo editor de código
.vscode
.idea

# Arquivos gerados por ferramentas de teste
/coverage

# Outros arquivos e diretórios
*.swp
.DS_Store
Thumbs.db
